id: hl7.fhir.eu.laboratory
canonical: http://hl7.eu/fhir/laboratory # check if this may create issues
name:  Hl7EuLaboratoryIg
title: HL7 Europe Laboratory Report
description: This guide describes how the Laboratory Report can be represented in the European REALM.
status: draft # draft | active | retired | unknown
version: 0.1.0
fhirVersion: 4.0.1 # https://www.hl7.org/fhir/valueset-FHIR-version.html
copyrightYear: 2023+
releaseLabel: ci-build # ci-build | draft | qa-preview | ballot | trial-use | release | update | normative+trial-use
# license: CC0-1.0 # https://www.hl7.org/fhir/valueset-spdx-license.html
# https://www.hl7.org/fhir/valueset-jurisdiction.html
jurisdiction: 	http://unstats.un.org/unsd/methods/m49/m49.htm#150 "Europe" # urn:iso:std:iso:3166#EU
publisher:
  name:  HL7 Europe
  url: http://hl7.eu
  # email: test@example.org
copyright: >-
  Used by permission of HL7 Europe, all rights reserved Creative Commons License

# The dependencies property corresponds to IG.dependsOn. The key is the
# package id and the value is the version (or dev/current). For advanced
# use cases, the value can be an object with keys for id, uri, and version.
#
dependencies:
  hl7.fhir.uv.ips: current
  hl7.fhir.extensions.r5: 4.0.1
#   hl7.fhir.us.mcode:
#     id: mcode
#     uri: http://hl7.org/fhir/us/mcode/ImplementationGuide/hl7.fhir.us.mcode
#     version: 1.0.0
#
#
# The pages property corresponds to IG.definition.page. SUSHI can
# auto-generate the page list, but if the author includes pages in
# this file, it is assumed that the author will fully manage the
# pages section and SUSHI will not generate any page entries.
# The page file name is used as the key. If title is not provided,
# then the title will be generated from the file name.  If a
# generation value is not provided, it will be inferred from the
# file name extension.  Any subproperties that are valid filenames
# with supported extensions (e.g., .md/.xml) will be treated as
# sub-pages.
#
pages:
  index.md:
    title: Home
  background.md:
    title: Background
    # to be removed --->
  # semantic-notes.md:
    # title: Laboratory Result Report
    # <--- to be removed 
  scenarios.md:
    title: Laboratory Report scenarios
  status-mgmt.md:
    title: Managing Laboratory Report statuses
  design-choice.md:
    title: Design choices
  challenges.md:
    title: Challenges
  examples.md:
    title: Examples
  downloads.md:
    title: Downloads
  logicalModel.md:
    title: eHN guideline data set
  contributors.md:
    title: Authors and contributors
 #  recommendations.md:
#    title: Recommendations
#
#
# The parameters property represents IG.definition.parameter. Rather
# than a list of code/value pairs (as in the ImplementationGuide
# resource), the code is the YAML key. If a parameter allows repeating
# values, the value in the YAML should be a sequence/array. For a
# partial list of allowed parameters see:
# https://confluence.hl7.org/display/FHIR/Implementation+Guide+Parameters
#
parameters: #see https://confluence.hl7.org/display/FHIR/Implementation+Guide+Parameters
#  produce-jekyll-data: true
  special-url:
    - http://hl7.eu/fhir/StructureDefinition/information-recipient

# see https://confluence.hl7.org/display/FHIR/Implementation+Guide+Parameters
# path-resource:
#    - input/resources
#    - fsh-generated/resources
#  path-pages:
#    - input/pagecontent
#    - input/intro-notes
#  active-tables: false
  apply-contact: true
  apply-jurisdiction: true
  apply-publisher: true
  apply-version: true
  show-inherited-invariants: true
  usage-stats-opt-out: true
  # excludexml: false
  # excludejson: false
  # excludettl: true
  # excludemap: true
 # suppressed-ids: DocumentReference/discharge-summary
 # tabbed-snapshots: false
  # generate: #what does this do - todo: remove and see4
  #   - xml
  #   - json
 # no-narrative:
 #   - Patient/example-targeted-provenance
 #   - Bundle/docref-example-1
  # no-validate:
  #   - '*/*'  # does not seems to work
  #   - 'StructureDefinition/*'
 # version-comparison:
 #    - 5.0.1
 #    - 4.0.0

#   excludettl: true
#   validation: [allow-any-extensions, no-broken-links]
#
# ╭────────────────────────────────────────────menu.xml────────────────────────────────────────────╮
# │ The menu property will be used to generate the input/menu.xml file. The menu is represented    │
# │ as a simple structure where the YAML key is the menu item name and the value is the URL.       │
# │ The IG publisher currently only supports one level deep on sub-menus. To provide a             │
# │ custom menu.xml file, do not include this property and include a `menu.xml` file in            │
# │ input/includes. To use a provided input/includes/menu.xml file, delete the "menu"              │
# │ property below.                                                                                │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
menu:
  Home: index.html
  Table of Contents: toc.html
  Background:
    Background: background.html
    Challenges: challenges.html
    Design Choices: design-choice.html
  # Laboratory Report (OLD): semantic-notes.html
  Functional Specifications:
    Scenarios: scenarios.html
    Managing statuses: status-mgmt.html
    eHN Guideline dataset: logicalModel.html
     # Model mappping: yyy.html
  # label to be changed 
  Examples: examples.html
  Artifacts: artifacts.html
  About:
    Downloads: downloads.html
    Authors and contributors: contributors.html
  

# ╭───────────────────────────Less Common Implementation Guide Properties──────────────────────────╮
# │  Uncomment the properties below to configure additional properties on the ImplementationGuide  │
# │  resource. These properties are less commonly needed than those above.                         │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
#
# Those who need more control or want to add additional details to the contact values can use
# contact directly and follow the format outlined in the ImplementationGuide resource and
# ContactDetail.
#
# contact:
#   - name:  Bob Smith
#     telecom:
#       - system: email # phone | fax | email | pager | url | sms | other
#         value: bobsmith@example.org
#         use: work
#
#
# The global property corresponds to the IG.global property, but it
# uses the type as the YAML key and the profile as its value. Since
# FHIR does not explicitly disallow more than one profile per type,
# neither do we; the value can be a single profile URL or an array
# of profile URLs. If a value is an id or name, SUSHI will replace
# it with the correct canonical when generating the IG JSON.
#
# global:
#   Patient: http://example.org/fhir/StructureDefinition/my-patient-profile
#   Encounter: http://example.org/fhir/StructureDefinition/my-encounter-profile
#
#
# The resources property corresponds to IG.definition.resource.
# SUSHI can auto-generate all of the resource entries based on
# the FSH definitions and/or information in any user-provided
# JSON or XML resource files. If the generated entries are not
# sufficient or complete, however, the author can add entries
# here. If the reference matches a generated entry, it will
# replace the generated entry. If it doesn't match any generated
# entries, it will be added to the generated entries. The format
# follows IG.definition.resource with the following differences:
#   * use IG.definition.resource.reference.reference as the YAML key.
#   * if the key is an id or name, SUSHI will replace it with the
#     correct URL when generating the IG JSON.
#   * specify "omit" to omit a FSH-generated resource from the
#     resource list.
#   * if the exampleCanonical is an id or name, SUSHI will replace
#     it with the correct canonical when generating the IG JSON.
#   * groupingId can be used, but top-level groups syntax may be a
#     better option (see below).
# The following are simple examples to demonstrate what this might
# look like:

resources:
  ConceptMap/ConceptMap-eu-diagRptStatus2CompStatus:
    name: DiagnosticReport to Composition status
    description: Proposed relationship between the statuses used in the DiagnosticReport resource and that used for the Composition.

  ConceptMap/labRpt2FHIR-eu-lab:
    name: A - Laboratory Report model to this guide
    description: It shows how the Laboratory Report data set defined by the EU eHN guidelines is mapped into this guide.

  ConceptMap/payer2FHIR-eu-lab:
    name: A.1.3 - Health insurance and payment information model to this guide
    description: It shows how the A.1.3 - Health insurance and payment information data set defined by the EU eHN guidelines is mapped into this guide.

  ConceptMap/recipient2FHIR-eu-lab:
    name: A.1.4 - Information recipient model to this guide
    description: It shows how the A.1.4 - Information recipient data set defined by the EU eHN guidelines is mapped into this guide.

  ConceptMap/subject2FHIR-eu-lab:
    name: A.1.1, A.1.2 - Subject of care model to this guide
    description: It shows how the Subject data set defined by the EU eHN guidelines is mapped into this guide.

  ConceptMap/author2FHIR-eu-lab:
    name: A.1.5 - Author model to this guide
    description: It shows how the A.1.5 - Author data set defined by the EU eHN guidelines is mapped into this guide.

  ConceptMap/legalAuth2FHIR-eu-lab:
    name: A.1.6 - Legal authenticator model to this guide
    description: It shows how the A.1.6 - Legal authenticator data set defined by the EU eHN guidelines is mapped into this guide.

  ConceptMap/order2FHIR-eu-lab:
    name: A.2, A.3 - Order model to this guide
    description: It shows how the Order data set defined by the EU eHN guidelines is mapped into this guide.

  ConceptMap/validator2FHIR-eu-lab:
    name: A.1.7 - Result validator model to this guide
    description: It shows how the A.1.7 - Result validator data set defined by the EU eHN guidelines is mapped into this guide.

  ConceptMap/specimen2FHIR-eu-lab:
    name: A.4 - Specimen information model to this guide
    description: It shows how the A.4 - Specimen information data set defined by the EU eHN guidelines is mapped into this guide.

  ConceptMap/result2FHIR-eu-lab:
    name: A.5 - Results data elements model to this guide
    description: It shows how the A.5 - Results data elements data set defined by the EU eHN guidelines is mapped into this guide.

#  Patient/my-example-patient:
#    name: My Example Patient
#    description: An example Patient
#    exampleBoolean: true
#  Patient/bad-example: omit


#
# Groups can control certain aspects of the IG generation.  The IG
# documentation recommends that authors use the default groups that
# are provided by the templating framework, but if authors want to
# use their own instead, they can use the mechanism below.  This will
# create IG.definition.grouping entries and associate the individual
# resource entries with the corresponding groupIds. If a resource
# is specified by id or name, SUSHI will replace it with the correct
# URL when generating the IG JSON.
#
groups:
  eHNGuidelines:
    name:  eHN Laboratory Guidelines
    description: Logical models representing the eHN Laboratory Guidelines
    resources:
      - StructureDefinition/LabReport
      - StructureDefinition/Subject
      - StructureDefinition/Author
      - StructureDefinition/Validator
      - StructureDefinition/LegalAuthenticator
      - StructureDefinition/Recipient
      - StructureDefinition/Order
      - StructureDefinition/Result
      - StructureDefinition/SpecimenLab
      - StructureDefinition/Payer

  logicalModelsMaps:
    name:  eHN Logical Model mappings
    description: Concept Maps describing how the eHN Laboratory Guidelines are supposed to be implemented by using this guide
    resources:
      - ConceptMap/labRpt2FHIR-eu-lab
      - ConceptMap/payer2FHIR-eu-lab
      - ConceptMap/recipient2FHIR-eu-lab
      - ConceptMap/subject2FHIR-eu-lab
      - ConceptMap/author2FHIR-eu-lab
      - ConceptMap/order2FHIR-eu-lab
      - ConceptMap/legalAuth2FHIR-eu-lab
      - ConceptMap/validator2FHIR-eu-lab
      - ConceptMap/specimen2FHIR-eu-lab
      - ConceptMap/result2FHIR-eu-lab


#
# The ImplementationGuide resource defines several other properties
# not represented above. These properties can be used as-is and
# should follow the format defined in ImplementationGuide:
# * date
# * meta
# * implicitRules
# * language
# * text
# * contained
# * extension
# * modifierExtension
# * experimental
# * useContext
# * copyright
# * packagingId
#
#
# ╭──────────────────────────────────────────SUSHI flags───────────────────────────────────────────╮
# │  The flags below configure aspects of how SUSHI processes FSH.                                 │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
# The FSHOnly flag indicates if only FSH resources should be exported.
# If set to true, no IG related content will be generated.
# The default value for this property is false.
#
# FSHOnly: false
#
#
# When set to true, the "short" and "definition" field on the root element of an Extension will
# be set to the "Title" and "Description" of that Extension. Default is true.
#
# applyExtensionMetadataToRoot: true
#
#
# The instanceOptions property is used to configure certain aspects of how SUSHI processes instances.
# See the individual option definitions below for more detail.

instanceOptions:
  manualSliceOrdering: true
#
# instanceOptions:
#   Determines for which types of Instances SUSHI will automatically set meta.profile
#   if InstanceOf references a profile:
#
#   setMetaProfile: always # always | never | inline-only | standalone-only
#
#
#   Determines for which types of Instances SUSHI will automatically set id
#   if InstanceOf references a profile:
#
#   setId: always # always | standalone-only
